# /sys/devices/virtual/camera/*/*_camfw
# /dev/m2m1shot_jpeg
# BAD
#allow cameraserver camera_device:file  r_file_perms;;
#allow cameraserver camera_device:chr_file  r_file_perms;;
