on init
# Interactive
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay "20000 1000000:80000 1200000:100000 1700000:20000"
    write /sys/devices/system/cpu/cpufreq/interactive/boost 0
    write /sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration 40000
    write /sys/devices/system/cpu/cpufreq/interactive/enforced_mode 0
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 101
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 600000
    write /sys/devices/system/cpu/cpufreq/interactive/io_is_busy 0
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 40000
    write /sys/devices/system/cpu/cpufreq/interactive/mode 0
    write /sys/devices/system/cpu/cpufreq/interactive/multi_enter_load 360
    write /sys/devices/system/cpu/cpufreq/interactive/multi_enter_time 80000
    write /sys/devices/system/cpu/cpufreq/interactive/multi_exit_load 360
    write /sys/devices/system/cpu/cpufreq/interactive/multi_exit_time 320000
    write /sys/devices/system/cpu/cpufreq/interactive/param_index 0
    write /sys/devices/system/cpu/cpufreq/interactive/single_enter_load 90
    write /sys/devices/system/cpu/cpufreq/interactive/single_enter_time 160000
    write /sys/devices/system/cpu/cpufreq/interactive/single_exit_load 90
    write /sys/devices/system/cpu/cpufreq/interactive/single_exit_time 80000
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads "70 350000:70 500000:75 600000:85 800000:90 1200000:95 1700000:97 1900000:100"
    write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 20000
    write /sys/devices/system/cpu/cpufreq/interactive/timer_slack 20000

# Change permission for interactive governor
    chown system system /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpufreq/interactive/boost
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/boost
    chown system system /sys/devices/system/cpu/cpufreq/interactive/boostpulse
    chown system system /sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration
    chown system system /sys/devices/system/cpu/cpufreq/interactive/cpu_util
    chmod 0440 /sys/devices/system/cpu/cpufreq/interactive/cpu_util
    chown system system /sys/devices/system/cpu/cpufreq/interactive/enforced_mode
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/enforced_mode
    chown system system /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpufreq/interactive/io_is_busy
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/io_is_busy
    chown system system /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpufreq/interactive/mode
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/mode
    chown system system /sys/devices/system/cpu/cpufreq/interactive/multi_enter_load
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/multi_enter_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/multi_enter_time
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/multi_enter_time
    chown system system /sys/devices/system/cpu/cpufreq/interactive/multi_exit_load
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/multi_exit_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/multi_exit_time
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/multi_exit_time
    chown system system /sys/devices/system/cpu/cpufreq/interactive/param_index
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/param_index
    chown system system /sys/devices/system/cpu/cpufreq/interactive/single_enter_load
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/single_enter_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/single_enter_time
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/single_enter_time
    chown system system /sys/devices/system/cpu/cpufreq/interactive/single_exit_load
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/single_exit_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/single_exit_time
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/single_exit_time
    chown system system /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpufreq/interactive/timer_slack
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/timer_slack
    chown system system /sys/devices/system/cpu/cpufreq/interactive/target_loads
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/target_loads

# PMS DVFS
    chown radio system /sys/power/cpufreq_table
    chown radio system /sys/power/cpufreq_max_limit
    chown radio system /sys/power/cpufreq_min_limit
    chmod 0660 /sys/power/cpufreq_table
    chmod 0660 /sys/power/cpufreq_max_limit
    chmod 0660 /sys/power/cpufreq_min_limit
    chown radio system /sys/class/devfreq/exynos5-busfreq-mif/en_monitoring
    chown radio system /sys/class/devfreq/exynos5-busfreq-int/en_monitoring
    chmod 0664 /sys/class/devfreq/exynos5-busfreq-mif/en_monitoring
    chmod 0664 /sys/class/devfreq/exynos5-busfreq-int/en_monitoring
    chown radio system /sys/class/devfreq/exynos5-busfreq-mif/freq_table
    chown radio system /sys/class/devfreq/exynos5-busfreq-int/freq_table
    chown radio system /sys/class/devfreq/exynos5-busfreq-mif/min_freq
    chown radio system /sys/class/devfreq/exynos5-busfreq-int/min_freq
    chown radio system /sys/class/devfreq/exynos5-busfreq-mif/max_freq
    chown radio system /sys/class/devfreq/exynos5-busfreq-int/max_freq
    chown radio system /sys/devices/platform/mali.0/dvfs_table
    chown radio system /sys/devices/platform/mali.0/dvfs_min_lock
    chown radio system /sys/devices/platform/mali.0/dvfs_max_lock
    chown radio system /sys/class/thermal/thermal_zone0/boost_mode
    chmod 664 /sys/class/devfreq/exynos5-busfreq-mif/freq_table
    chmod 664 /sys/class/devfreq/exynos5-busfreq-int/freq_table
    chmod 664 /sys/class/devfreq/exynos5-busfreq-mif/min_freq
    chmod 664 /sys/class/devfreq/exynos5-busfreq-int/min_freq
    chmod 664 /sys/class/devfreq/exynos5-busfreq-mif/max_freq
    chmod 664 /sys/class/devfreq/exynos5-busfreq-int/max_freq
    chmod 664 /sys/devices/platform/mali.0/dvfs_table
    chmod 664 /sys/devices/platform/mali.0/dvfs_min_lock
    chmod 664 /sys/devices/platform/mali.0/dvfs_max_lock
    chmod 664 /sys/class/thermal/thermal_zone0/boost_mode

# Core Control
    chown radio system /sys/devices/system/b.L/b.L_core_stat
    chmod 0660 /sys/devices/system/b.L/b.L_core_stat
    chown radio system /sys/devices/system/cpu/cpu0/cpuidle/state1/disable
    chown radio system /sys/devices/system/cpu/cpu1/cpuidle/state1/disable
    chown radio system /sys/devices/system/cpu/cpu2/cpuidle/state1/disable
    chown radio system /sys/devices/system/cpu/cpu3/cpuidle/state1/disable
    chmod 0660 /sys/devices/system/cpu/cpu0/cpuidle/state1/disable
    chmod 0660 /sys/devices/system/cpu/cpu1/cpuidle/state1/disable
    chmod 0660 /sys/devices/system/cpu/cpu2/cpuidle/state1/disable
    chmod 0660 /sys/devices/system/cpu/cpu3/cpuidle/state1/disable

# Core temp sensor
    chown radio system /sys/devices/platform/exynos5-tmu/temp
    chown radio system /sys/devices/platform/exynos5-tmu/curr_temp

# Quadrant Benchmark
    chown radio system /sys/class/thermal/thermal_zone0/boost_mode
    chown radio system /sys/class/devfreq/exynos5-busfreq-mif/min_freq
    chown radio system /sys/class/devfreq/exynos5-busfreq-int/min_freq
    chown radio system /sys/devices/system/cpu/cpufreq/iks-cpufreq/min_freq
    chown radio system /sys/devices/system/cpu/cpufreq/iks-cpufreq/max_freq
    chown radio system /sys/devices/system/cpu/cpufreq/iks-cpufreq/freq_table
    chown radio system /sys/devices/system/cpu/cpufreq/iks-cpufreq/max_eagle_count
#    chown radio system /sys/devices/platform/pvrsrvkm.0/sgx_dvfs_max_lock
#    chown radio system /sys/devices/platform/pvrsrvkm.0/sgx_dvfs_min_lock
#    chown radio system /sys/devices/platform/pvrsrvkm.0/sgx_dvfs_table
    chmod 0664 /sys/class/thermal/thermal_zone0/boost_mode
    chmod 0664 /sys/class/devfreq/exynos5-busfreq-mif/min_freq
    chmod 0664 /sys/class/devfreq/exynos5-busfreq-int/min_freq
    chmod 0664 /sys/devices/system/cpu/cpufreq/iks-cpufreq/min_freq
    chmod 0664 /sys/devices/system/cpu/cpufreq/iks-cpufreq/max_freq
    chmod 0664 /sys/devices/system/cpu/cpufreq/iks-cpufreq/freq_table
    chmod 0664 /sys/devices/system/cpu/cpufreq/iks-cpufreq/max_eagle_count
#    chmod 0664 /sys/devices/platform/pvrsrvkm.0/sgx_dvfs_max_lock
#    chmod 0664 /sys/devices/platform/pvrsrvkm.0/sgx_dvfs_min_lock
#    chmod 0664 /sys/devices/platform/pvrsrvkm.0/sgx_dvfs_table

# CPU Idle
    chown system radio /sys/devices/system/cpu/cpu0/cpuidle/state2/disable
    chown system radio /sys/module/cpuidle/parameters/enable_mask

    chown system radio /sys/module/asv_exynos/parameters/asv_group

# PowerBoard: Input and Charging Currents Tuning
    write /sys/devices/platform/sec-battery/ac_input_curr 3000
    write /sys/devices/platform/sec-battery/ac_chrg_curr 2550
    write /sys/devices/platform/sec-battery/power_supply/battery/siop_level 99
    write /sys/devices/platform/sec-battery/siop_input_limit 1300
    write /sys/devices/platform/sec-battery/siop_charge_limit 1500
    write /sys/devices/platform/sec-battery/sdp_input_curr 1000
    write /sys/devices/platform/sec-battery/sdp_chrg_curr 1500

# Set max gpu clock at 533mhz
    write /sys/devices/platform/mali.0/max_clock 533

# Thermal Tuning
    write /sys/class/thermal/thermal_zone0/oneshot_trip_temp "70 80 85 95"
    write /sys/class/thermal/thermal_zone0/oneshot_trip_freq "1800 1700 1200 600"